# Log file
*.log

# Package Files #
*.jar
# User-specific stuff
out/
build/
/build/
/autoservice-app-console/test_base/
/.idea/
/.gradle/
!/build.gradle
!/settings.gradle
!gradle-wrapper.jar

#/gradle/
